{% extends 'base.html' %}
{% load my_filters %}

{% block title %}

{% endblock title %}

{% block content %}
<style>
    body{ display: flex; }

</style>
<div id="left" class="column">
    <div class="top-left"></div>
    <div class="bottom"></div>
    <!-- <header> -->
        <!-- <nav id="is-babypink"> -->
            <a id="is-babypink" href="{% url 'recipe_list' %}">Main Page</a>
            {% if user.is_authenticated %}
            <a href="{% url 'create_recipe' %}">Create a recipe</a>
            <a href="{% url 'my_recipe_list' %}">My recipes</a>
            {% endif %}
            {% if user.is_authenticated %}
                Hello, {{user.username}}
                <a href="{% url 'user_logout' %}"> Logout </a>
            {% else %}
                <a href="{% url 'signup' %}"> Sign up </a>
                <a href="{% url 'user_login' %}"> Login </a>
            {% endif %}

        <!-- </nav> -->
    <!-- </header> -->
</div>



<div id="right" class="column">
    <div class="top-right"></div>
    <div class="bottom"></div>
    <center>
    <main>
        <h1> Mandy's Cookbook</h1>
        <h2>All the food that's fit to eat</h2>
        <!-- <div class="grid-container"> -->
            <div class="container">

            {% for recipe in show_recipe %}
            <div class="grid-items">
                <h3>
                    <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3>
                <img src="{{ recipe.picture }}" width="300">
                <div class="stars-rating">{{ recipe.stars }} stars ({{ recipe.stars|stars }})</div>
                <p>{{ recipe.created_on|date:"F j, Y" }}</p>
            </div>
            {% endfor %}
        </div>
    </main>
    </center>
</div>
{% endblock content %}
