/* .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
} */
/* .container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;

} */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .grid-items {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
  }

body {
    font-family: 'Courier New', monospace;
    background-image: url("https://i.pinimg.com/originals/be/38/dd/be38ddf5a72726e66db1ceaff4abc20a.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
 /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    opacity: 1.0;
    display: flex;
    /* box-sizing: border-box; */

    }

a {
    text-decoration: none;
    color:black
}

tr:nth-child(even) {
    background-color: #FADCD2;
}

h1 {
    color:rgb(130, 97, 123)
}
h3 > a {
    color: rgb(95, 40, 78);
}

#is-babypink {
    background-color: #d086b0;
    color:aliceblue;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#is-beige {
    background-color: rgba(191, 130, 116, 1);
    color:aliceblue;
    display: inline-block;
    width: 100%;
    height: 100%;
}
a:hover {
    background-color: palevioletred;

}

main {
    padding: 16px;
}

footer {
    padding: 25px;
    font-size: 18px;
}

img {
    width: 250px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;

}

nav{
    border-bottom: 1px solid rgb(157, 117, 126);
    padding: 16px;
}

/* .grid-items {
    place-self: center;
    width: 50%;
    padding: 0 100px;

} */

#left {
    flex-shrink: 0;  /* makes sure that content is not cut off in a smaller browser window */
    font-size: 20px;
}

.column {
    height: 100%;  /* allows both columns to span the full height of the browser window */
    display: flex;
    flex-direction: column;  /* stacks the left and right headers above the bottom content */
}

.bottom {
    flex-grow: 1;  /* ensures that the container will take up the full height of the parent container */
    overflow-y: auto;  /* adds scroll to this container */
}

.top-right {
    flex-shrink: 0;
    display: flex;
}

.stars-rating {
    color: rgb(241, 97, 121);
    font-size: 20px;
    opacity: 0.8;

}
